.content{
  background-color: #fff;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content__img_container{
  height: 200px;
}

.about_me{
  padding: 20px;
  display: flex;
  gap: 20px;
}

.avatar_container{
  width: 150px;
  height: 150px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

