.pagination{
  span{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
  }

  margin-bottom: 20px;
}

.currentPage{
  font-weight: bold;
}

.pagination_inner{
  display: flex;
  justify-content: center;
}