.header{
  background-color: #e9d925;
  grid-column: 1/3;
  img{
    height: 100%;
    transform: scale(1.5) translateX(50%);
  }
  .kabzda{
    text-align: center;

    flex-grow: 1;
    font-size: 38px;
  }
  display: flex;

  align-items: center;
}