@import "reset.scss";

body{
    background-color: #79553D;
}

.container{
    min-height: 100vh;
    background-color: #fff;
    max-width: 1360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 1fr;
}






