.main{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dialog_items{
  padding: 20px;
  padding-top: 0;
  background-color: #cbffc3;
}

.messages{
  display: flex;
  flex-direction: column;
}

.messagesWrap{
  padding-right: 30px;
  padding-left: 30px;
  flex-grow: 1;
}